* {
	color: black;
}

.container {
	border: 2px solid red;
}

.eventTitle {
	font-size: 20px;
	background-color: #DEF7FA;
	border: 1px solid #69C0FF;
	padding: 2px;
	width: 70%;
}

.eventDescription{
	font-style: italic;	
}

.table {
	border: 2px solid blue;
}